/* Parte Principal do código CSS para o portfólio */
html {
    font-size: calc(15px + 0.390625vw);
}
body {
    color: #21243D;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0; /* boa prática */
    padding: 0;
}

a {
    color: #21243D;
    text-decoration: none;
}

p {
    line-height: 1.3; /* Melhor usar número decimal */
}

img {
    max-width: 100%;
    height: auto; /* adiciona responsividade */
}

/* Parte de Específicos */

header nav ul,
header ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header nav ul li {
    text-align: center;
    padding: 10px 0;
}

/* Títulos das seções */
section h2 {
    text-align: center;
    margin: 15px;
}

/* Seção do Banner */
section.banner {
    text-align: center;
    padding: 0 5%;
}

section.banner h1 {
    font-weight: bold;
    font-size: 2rem;
    margin: 10px 0;
}

section.banner button {
    background-color: #FF6464;
    border: none;
    color: white;
    margin: 10px 0 20px;
    padding: 10px 20px;
    font-size: 1.5rem;
    cursor: pointer; /* adiciona cursor de botão */
}

/* Seção Posts */
section.posts {
    background-color: #EDF7FA;
    padding: 10px;
}

section.posts ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

section.posts ul li {
    background-color: white;
    padding: 15px;
    margin: 12px 10px;
}

section.posts ul li h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    font-weight: bold;
}

section.posts ul li p {
    font-size: 0.9rem;
    margin: 0 0 10px 0;
}

/* Seção Works */
section.works {
    padding: 20px 10px;
    margin-bottom: 10rem;
}

section.works ul {
    list-style: none;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #8695A4;
}

section.works ul li {
    margin: 15px 0;
}

section.works ul li h3 {
    font-size: 1.25rem;
    margin: 10px 0 0 0;
    font-weight: bold;
}

section.works ul li p {
    color: #21243D;
    margin: 15px 0;
}

section.works ul li p.info {
    color: #8695A4;
}

section.works ul li p.info span {
    background-color: #142850;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 20px;
}

/* Seção Works Destaque */
section.works-ft {
    padding: 20px 10px;
    margin-bottom: 10rem;
}

section.works-ft h1 {
    font-size: 2rem;
    margin: 10px 0;
}

section.works-ft h3 {
    font-size: 1.25rem;
    margin: 0 0 10px 0;
    font-weight: bold;
}

section.works-ft ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

section.works-ft ul li {
    margin: 20px 0;
}

section.works-ft ul li p {
    color: #21243D;
    margin: 15px 0;
}

section.works-ft ul li p.info {
    font-weight: bold;
}

section.works-ft ul li p.info span {
    background-color: #FF7C7C;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 20px;
}

/* Footer */
footer {
    padding: 20px 0;
    text-align: center;
}

footer p {
    font-size: 0.7rem;
    margin: 10px 0;
}

footer a {
    font-size: 2rem;
    padding: 10px 15px;
}

/* Responsividade */
@media (min-width: 700px) {
    header ul {
        display: flex;
        justify-content: flex-end;
    }

    header ul li {
        margin-right: 20px;
    }

    section h2 {
        text-align: left;
        font-size: 1.5rem;
    }

    section.banner {
        display: flex;
        flex-direction: row-reverse;
        text-align: left;
        margin: 10vw 7vw;
    }

    /* Esta classe ".banner.texto" provavelmente deveria ser ".banner .texto" */
    section.banner .texto {
        margin-right: 7vw;
    }

    section.posts {
        padding: 1.2vw 10vw;
    }

    section.posts ul {
        display: flex;
        gap: 2vw;
        flex-wrap: wrap; /* caso hajam muitos */
    }

    section.posts ul li {
        flex: 1;
    }

    section.works {
        padding: 1.2vw 10vw;
    }

    section.works ul {
        display: flex;
        flex-wrap: wrap;
        gap: 2vw;
    }

    section.works ul li {
        flex: 1;
    }

    section.works ul li p {
        margin-top: 2vw;
    }

    /* Corrigindo seletor duplicado com erro de nome */
    section.posts ul li, 
    section.works ul li {
        width: 45%;
    }
}
